header {
    background-image: url('/static/public/tomorrows-cities-logo-header.png'); /* Replace 'your-image.jpg' with the path to your image file */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent image from repeating */
    height: 200px; /* Set a specific height for the header */
}

.v-application--wrap > div:nth-child(2) > div:nth-child(2){
    display: none !important;
}