header {
    background-color: #1c4220 !important;
    box-shadow: none !important;
    /* Optional: remove shadow if it contributes to the 'layer' look */
    /* background-image: url('/static/public/tomorrows-cities-logo-header.png'); */
    /* Replace 'your-image.jpg' with the path to your image file */
    /* background-position: left; */
    /* Justify left the background image */
    /* background-repeat: no-repeat; */
    /* Prevent image from repeating */
    /* Set a specific height for the header */
}

header .v-sheet,
header .v-tabs,
header .theme--dark.v-tabs,
header .v-tabs-bar {
    background-color: transparent !important;
    box-shadow: none !important;
}

/* Remove the slider (underline) */
.v-tabs-slider-wrapper {
    display: none !important;
}

/* Remove slide arrows */
.v-slide-group__prev,
.v-slide-group__next {
    display: none !important;
}

/* Darken the background of the active tab */
.v-tab.v-tab--active {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.v-application--wrap>div:nth-child(2)>div:nth-child(2) {
    display: none !important;
}

.theme--light.v-sheet {
    background-color: #EBEBEB;
}

.v-navigation-drawer__content {
    background-color: #EBEBEB;
}

.v-data-table__wrapper {
    background-color: #EBEBEB;
}

.v-data-footer {
    background-color: #EBEBEB;
    color: black;
}

.v-input--hide-details>.v-input__control>.v-input__slot {
    margin-top: -11px;
}

.v-input--selection-controls .v-input__slot {
    margin-top: 0px;
    position: relative;
    padding: 0px;
}

.v-input--selection-controls {
    margin-top: 4px;
    padding-top: 2px;
}

.v-input--checkbox {
    height: 100%;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-auto {
    width: 100%;
    padding: 20px 10px 60px 20px;
}

.v-messages__message {
    line-height: 32px;
    color: red;
}

.mdi-menu::before {
    content: "\F171" !important;
}

@media (max-width: 960px) {
    .mobile-hide {
        display: none !important;
    }
}

@media (min-width: 961px) {
    .mobile-show {
        display: none !important;
    }
}

@media (max-width: 960px) {
    .mobile-hide {
        display: none !important;
    }
}

@media (min-width: 961px) {
    .mobile-show {
        display: none !important;
    }
}
@media (min-width: 1264px) {
    .col-lg-custom-8 {
        flex: 0 0 12.5% !important;
        max-width: 12.5% !important;
    }
}
